
header{
    display: grid;
    max-width: 700px;
    align-items: center;
    text-align: left;
    justify-items: center;
    background-color: lightblue;
    grid-template-columns: repeat(2, 1fr);
}

img{
    width: 262px; 
    height: 148px;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


.infogrid {
  display: grid;
  grid-auto-flow: column;
}

footer{
    display: grid;
    max-width: 700px;
    place-items: center;
    justify-items: center;
    background-color: lightblue;

}


