h1, h2, ul {
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

picture {
    margin: auto;
    max-width: 100px;
}

li {
    list-style-type: none;
}

header, main, footer {
    max-width: 760px;
    margin: 1em auto;
    border-radius: 10px;
}


body {
    background-color: #F0EEA3;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    background-color: #009845;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

main {
    padding: 1em;
    background-color: #6BA539;
}


footer {
    padding: 1em;
    text-align: center;
    background-color: #009845;
}

a:link{
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #c5e384;
  }