@media (min-width: 700px) {
  /*Main CSS*/
  main.home {
    display: flex;
    flex-direction: column;
  }

  h3{
    font-size: 25px;
  }

  /*Hero CSS*/
  #hero p {
    top: 23%;
  }

  /*Spotlight CSS*/
  .spotlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
  }

 .spotlight .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 0em;
    margin: 0em;
  }

  .spotlight .card:first-child {
    border-radius: 1em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    margin-right: 0em;
    flex-grow: 1;
  }

  .spotlight .card:nth-child(2) {
    border-radius: 1em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    margin-left: 0em;
    flex-grow: 1;
  }

  .spotlight .card:nth-child(3) {
    display: none;
  }

  /*Discover CSS*/
  .discover {
    display: flex;
    flex-direction: column;
  }

  .discover p{
    padding-top: 0.5%;
    padding-left: 5%;
    float: left;
    width: 50%;
  }

  /*Join CSS*/
  .joinform{
    display: flex;
    flex-direction: column;
  }

  /*Directory CSS*/
  /*Grid View*/
  .items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  
  /*List View*/
  .list section.card{
    flex-direction: row;
  }

  .list section.card h4{
    margin-left: 4em;
  }

  /*Contact CSS*/
  #contactPoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #contactset p{
    margin: 10px;
  }
  
  #contactset div{
    font-size: 20px;
  }
  
  #contactset span{
    font-size: 23px;
  }
  
  #contactset legend{
    font-size: 17px;
  }
}
