/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

/* Fonts */
h1,
h2 {
  font-family: "Oswald", sans-serif;
  margin: 0em;
}

h3,
h4,
p,
label {
  font-family: "Roboto", sans-serif;
}

/* Background*/
body {
  background-color: #f0eea3;
}

/* Heading CSS */
header,
footer {
  margin: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #009845;
}

.heading {
  background-color: #009845;
  align-items: center;
  justify-content: center;
}

/* Header CSS */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 0.25em;
  margin-top: 0;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
}

.message {
  flex-basis: 100%;
}

.logo {
  width: 15%;
  height: 15%;
  align-self: center;
}

.message {
  text-shadow: 1px 1px 3px white;
}

/*Nav CSS*/
.nav {
  display: flex;
  list-style: none;
  flex-basis: 100%;
}

nav li a {
  padding: 1em;
  font-size: 20px;
  margin-right: 2em;
  border-radius: 1em;
}

nav div {
  padding: 1.5em;
  text-align: right;
  flex-grow: 1;
}

.nav li:first-child {
  display: block;
  padding: 1em;
}

.nav li {
  display: none;
  justify-content: space-between;
  text-align: left;
}

.responsive li {
  display: block;
  padding: 1em;
}

/*Nav Links*/
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  background-color: #c5e384;
}

/* Section CSS */
section {
  flex-direction: column;
  margin: 1em;
  text-align: center;
  background-color: #6ba539;
  border-radius: 1em;
  padding: 1em;
}

section img {
  align-self: center;
  width: 35%;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

#thanks{
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 1em;
  background-color: rgb(10, 78, 10);
  border: none;
  color: #f0eea3;
  border: 2px solid #f0eea3;
  border-radius: 7px;
}

a.button{
  color: #f0eea3;
  padding: 10px 20px;
}

a.button:hover{
  background-color: rgb(10, 78, 10);
}

button:hover {
  box-shadow: 2px 2px 7px 7px #f0eea3;
}

/*Hero section*/
#hero img {
  width: 100%;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

#hero p {
  text-align: center;
}

/*Weather Section*/
#weather{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#weather p{
  text-align: center;
  align-self: center;
}

#tempF{
  font-size: 50px;
}

#weather h3{
  grid-column: 1/3;
  margin: 0px;
  margin-top: 1em;
}

img#icon{
  grid-column: 1/2;
  margin: auto;
  min-width: 100px;
}

p#desc{
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

p#windspd{
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: solid 1px black;
}

#weather #desc{
  grid-column: 1/3;
  text-transform: capitalize;
  font-size: 20px;
}

#weather p{
  margin: 0px;
}


/*Discover CSS*/
.discover img{
  max-width: 300px;
  max-height: 200px;
  min-width: 185px;
  min-height: 123px;
  margin: 10px;
  margin-bottom: 20px;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

#clocktower{
  max-width: 300px;
  max-height: 444px;
  min-width: 185px;
  min-height: 274px;
}

/* Footer CSS */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer img {
  justify-content: center;
}

footer p {
  padding: 0px;
  margin: 0.5em;
  margin-left: 4em;
}

h4 {
  margin-left: 4em;
}

.footer {
  flex-basis: 100%;
  margin-top: 0.5em;
}

#date {
  text-align: center;
  background-color: #c5e384;
  border-radius: 0em;
  margin: 0em;
  margin-bottom: 1em;
  flex-basis: 100%;
}

/*Spotlight CSS*/
.spotlight .card p {
  margin: 10px;
  text-align: center;
}

.spotlight .card {
  border-style: solid;
  border-width: 1px;
  border-radius: 0em;
  margin: 0em;
}

.spotlight .card:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  flex-basis: 50%;
}

.spotlight .card:nth-child(2) {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  flex-basis: 50%;
}

.spotlight .card:nth-child(3) {
  display: none;
}

.spotlight img{
  min-width: 100px;
}

/*Join CSS*/
.join section{
  text-align: left;
}

input, textarea{
  margin-top: 5px;
}

div{
  padding: 5px;
}

#submit{
  padding: 20px 50px;
  margin: 5px;
  background-color: rgb(10, 78, 10);
  color: #f0eea3;
  border: 2px solid #f0eea3;
  border-radius: 7px;
  justify-self: center;
}

#submit:hover {
  box-shadow: 2px 2px 7px 7px #f0eea3;
}

form fieldset{
  border-color: #f0eea3;
  margin: 1em;
  border-radius: 1em;
  padding: 0.5em;
}

legend{
  margin-left: 1em;
}

.join span{
  color: #f0eea3;
}

/*Directory CSS*/
/*Grid View*/
.items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/*List View*/
.list{
  display: flex;
  flex-direction: column;
}

.list img{
  display: none;
}

.list section.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.list section.card h4{
  margin-left: 4em;
}

.list section.card a{
  margin-right: 4em;
}

/*General View*/
.directory section h4, .directory section p{
  text-align: center;
  margin-left: 0em;
}

.directory section.card{
  background-color: forestgreen;
}

.directory img{
  max-width: 350px;
}

.directory a {
  padding: 10px;
}

/*Contact CSS*/
.contactfield, .contactinfo{
  text-align: left;
}

.contactform #contactPoints{
  padding: 0em;
  margin: 0em;
  grid-column: auto;
}

.contact h3{
  margin-bottom: 0em;
}

.contact #info{
  margin: 0em;
}

#contactPoints {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#contactset p{
  font-size: 15px;
  margin: 10px;
}

#contactset div{
  font-size: 20px;
}

#contactset legend{
  font-size: 17px;
}
