/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

/* Fonts */
h1,
h2 {
  font-family: "Oswald", sans-serif;
  margin: 0em;
}

h3,
h4,
p,
label {
  font-family: "Roboto", sans-serif;
}

/* Background*/
body {
  background-color: #e9e9e9;
}

/* Heading CSS */
header,
footer {
  margin: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #8e8e8e;
}

.heading {
  align-items: center;
  justify-content: center;
  margin: 1em;
  text-align: center;
  border-radius: 1em;
  padding: 1em;
}

/* Header CSS */
header {
  background-image: url(../images/fruit_top.png);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 0.25em;
  margin-top: 0;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
}

/*Nav CSS*/
.nav {
  display: flex;
  list-style: none;
  flex-basis: 100%;
}

nav li a {
  padding: 1em;
  font-size: 20px;
  margin-right: 2em;
  border-radius: 1em;
}

nav div {
  padding: 1.5em;
  text-align: right;
  flex-grow: 1;
}

.nav li:first-child {
  display: block;
  padding: 1em;
}

.nav li {
  display: none;
  justify-content: space-between;
  text-align: left;
}

.responsive li {
  display: block;
  padding: 1em;
}

/*Nav Links*/
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  background-color: #b23835;
  color: #e9e9e9;
}

.nav div a:hover{
  background-color: #8e8e8e;
}

/* Section CSS */
.section {
  flex-direction: column;
  margin: 1em;
  text-align: center;
  background-color: #b4b4b4;
  border-radius: 1em;
  padding: 1em;
}

p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

.home input.button {
  padding: 10px 20px;
  margin: 1em;
  background-color: #b23835;
  border: none;
  color: #e9e9e9;
  border: 2px solid #e9e9e9;
  border-radius: 7px;
}

.home input.button:hover{
  box-shadow: 2px 2px 7px 7px #e9e9e9;
}

a{
  padding: 5px;
  border-radius: 1em;
}

a.button:hover{
  background-color: #b23535;
}

/* Footer CSS */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../images/fruit_bot.png);
}

footer h3{
  flex-basis: 100%;
}

footer p {
  padding: 0px;
  margin: 0.5em;
  margin-left: 4em;
}

.footer {
  flex-basis: 100%;
  margin-top: 0.5em;
}

a#weatherlink{
  padding: 0px;
  border-radius: 0px;
}

/*Home CSS*/
#welcome p, #hero p {
  text-align: center;
}



  /*Weather CSS*/
#weather {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

  /*Cities CSS*/
  section.subsection{
    padding: 1px;
    margin: 10px;
    border-radius: 1em;
  } 

  .subsection img{
    border-radius: 1em;
    max-width: 250px;
  }

#weather section {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

#weather h2{
  flex-basis: 100%;
}

#weather p{
  text-align: center;
  padding: 5px;
  margin: 0px;
}

#weather p.temp{
  font-size: 20px;
  font-weight: bold;
}

#weather img{
  width: 20%;
}

#weather .desc {
  text-transform: capitalize;
  font-weight: bold;
  flex-basis: 100%;
}

#weather .humidity {
  grid-column: 1/3;
  flex-basis: 100%;
}

/*Fresh CSS*/

.drinkform {
  display: flex;
  flex-direction: column;
}

.date, .message{
  padding: 0px;
  color: black;
}

select{
  padding: 5px 5px;
  margin: 10px;
  border: none;
}

option{
  text-align: center;
}

input, textarea{
  margin-top: 5px;
}

div{
  padding: 5px;
}

#submit{
  padding: 20px 50px;
  margin: 1em;
  background-color: #b23835;
  border: none;
  color: #e9e9e9;
  border: 2px solid #e9e9e9;
  border-radius: 7px;
  text-align: center;
  margin: auto;
}

#submit:hover{
  box-shadow: 2px 2px 7px 7px #e9e9e9;
}

form fieldset{
  border-color: #b23835;
  margin: 1em;
  border-radius: 1em;
  padding: 0.5em;
  text-align: left;
}

legend{
  margin-left: 1em;
}

.fresh span{
  color: #b23835;
}

.fresh span.fruit {
  color: black;
}

#form {
  grid-column: 1/4;
}

  /*Table CSS*/
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  border: 2px solid #e9e9e9;
  padding: 5px;
}

table {
  text-align: center;
}

th{
  color: #e9e9e9;
  background-color: #b23835;
  border: none;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #b86361;
}

table tr:nth-child(even){
  background-color: #aa7575;
}

/*About CSS*/
.about #sectcontact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#sectcontact h2{
  flex-basis: 100%;
}